springDatasourceURL=jdbc:postgresql://postgres:5432/postgres
dbUsername=postgres
dbPassword=postgres
hikariConnectionTimeout=20000
hikariMaxLifetime=1800000
hikariIdleTimeout=300000
hikariMaxPoolSize=20
hikariMinIdle=5
serverPort=8080
redisTimeout=3000ms
redisHost=redis
redisPort=6379
mailUsername=contact@adagroup.com.vn
mailPassword=k8m3w9p2q5z7x1v4
mailHost=smtp.gmail.com
mailPort=587
jwtSecret=4f8b2c1d9e3a7f6e5b8d0c2a1f4e7d9b3c5a8f0e2b4d6c8a1e3f5b7d9c0a2e4f
jwtRefreshExpirationSeconds=604800
jwtAccessExpirationSeconds=900
multipartMaxRequestSize=20MB
multipartMaxFileSize=15MB
storagePublicURL=https://adagroup.com.vn
storagePath=/var/app/storage